@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.create-account-container {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6439ff;
  padding: 30px;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .create-account-content {
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .welcome-message {
    text-align: center;
    margin-bottom: 30px;
    color: #333;

    h1 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .create-account-form {
    width: 100%;

    .title {
      position: relative;
      font-size: 24px;
      font-weight: 500;
      color: #333;
      margin-bottom: 30px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 25px;
        background: #6439ff;
      }
    }

    .input-boxes {
      margin-top: 30px;
    }

    .input-box {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;
      margin: 10px 0;
      position: relative;

      input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        padding: 0 30px;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;

        &:focus,
        &:valid {
          border-color: #6439ff;
        }
      }

      svg {
        position: absolute;
        left: 5px;
        color: #6439ff;
        font-size: 17px;
      }
    }

    .button {
      margin-top: 40px;

      input {
        color: #fff;
        background: #6439ff;
        border-radius: 6px;
        padding: 0;
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
          background: #5b13b9;
        }
      }
    }

    .sign-in-text {
      text-align: center;
      margin-top: 25px;
      font-size: 14px;
      font-weight: 500;
      color: #333;

      a {
        text-decoration: none;
        color: #6439ff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}